---
import { technologiesData } from '@data/technologies';

const { react, nextjs, typescript, expressjs, playwright, vitest } =
  technologiesData;
---

<section class="bg-slate-50">
  <div
    class="mx-auto grid max-w-7xl justify-center gap-10 py-12 md:grid-cols-2 md:gap-28 md:px-10 md:py-36 lg:grid-cols-4 lg:grid-rows-2 lg:px-0 lg:py-56"
  >
    <div
      class="flex items-center justify-center md:row-span-2 lg:min-h-[560px]"
    >
      <h2
        class="text-5xl font-black text-slate-600 md:-rotate-90 md:text-[180px]"
      >
        Tech
      </h2>
    </div>
    <article
      class="max-w-[210px] text-center md:justify-self-center md:text-left"
    >
      <img
        src={`/assets/${react.img}`}
        alt="react js logo"
        class="mx-auto md:m-0"
        loading="lazy"
      />
      <h3 class="px-2 text-2xl font-bold">
        {react.titleLine1}
        <br />{react.titleLine2}
      </h3>
      <p class="p-2 text-sm">
        {react.description}
      </p>
    </article>
    <article
      class="max-w-[210px] text-center md:justify-self-center md:text-left"
    >
      <img
        src={`/assets/${nextjs.img}`}
        alt="next js logo"
        class="mx-auto max-h-[100px] py-2 md:m-0"
        loading="lazy"
      />
      <h3 class="text-2xl font-bold">
        {nextjs.titleLine1}
        <br />{nextjs.titleLine2}
      </h3>
      <p class="text-sm">
        {nextjs.description}
      </p>
    </article>
    <article
      class="max-w-[210px] text-center md:justify-self-center md:text-left"
    >
      <img
        src={`/assets/${typescript.img}`}
        alt="typescript and javascript logos"
        class="mx-auto max-h-[100px] py-2 md:m-0"
        loading="lazy"
      />
      <h3 class="text-2xl font-bold">
        {typescript.titleLine1}
        <br />{typescript.titleLine2}
      </h3>
      <p class="text-sm">
        {typescript.description}
      </p>
    </article>
    <article
      class="max-w-[210px] text-center md:justify-self-center md:text-left"
    >
      <img
        src={`/assets/${expressjs.img}`}
        alt="express js logo"
        class="mx-auto md:m-0"
        loading="lazy"
      />
      <h3 class="text-2xl font-bold">
        {expressjs.titleLine1}
        <br />{expressjs.titleLine2}
      </h3>
      <p class="text-sm">
        {expressjs.description}
      </p>
    </article>
    <article
      class="max-w-[210px] text-center md:justify-self-center md:text-left"
    >
      <img
        src={`/assets/${playwright.img}`}
        alt="playwright logo"
        class="mx-auto md:m-0"
        loading="lazy"
      />
      <h3 class="text-2xl font-bold">
        {playwright.titleLine1}
        <br />{playwright.titleLine2}
      </h3>
      <p class="text-sm">
        {playwright.description}
      </p>
    </article>
    <article
      class="max-w-[210px] text-center md:justify-self-center md:text-left"
    >
      <img
        src={`/assets/${vitest.img}`}
        alt="vitest logo"
        class="mx-auto md:m-0"
        loading="lazy"
      />
      <h3 class="text-2xl font-bold">
        {vitest.titleLine1}
        <br />{vitest.titleLine2}
      </h3>
      <p class="text-sm">
        {vitest.description}
      </p>
    </article>
  </div>
</section>
