---
import { projectsData } from '@data/projects';

const { gifter, commenteer, backnotes, backnotesapi } = projectsData;
---

<section class="work bg-slate-50 py-24">
  <div class="mx-auto max-w-7xl">
    <article
      class="mx-4 mb-10 flex flex-col gap-8 rounded-3xl bg-white p-5 shadow-article transition hover:scale-[1.005] hover:shadow-article-hover md:mx-8 md:p-14 xl:flex-row xl:p-24"
    >
      <div class="text-side flex-1">
        <h3 class="text-lg font-bold md:text-3xl">
          {gifter.title.articleHeader}
        </h3>
        <h2 class="py-6 text-3xl font-black md:text-7xl">
          <span class="text-7xl text-orange-600 md:text-9xl"> Gifter</span><br
          />Meaningfull presents
        </h2>
        <p class="pb-14 pt-3 text-justify">
          {gifter.description.text}
        </p>
        <a href="/gifter" class="rounded-full bg-slate-600 px-6 py-3 text-white"
          >See more</a
        >
      </div>
      <div class="image-side flex-1">
        <img
          src="/assets/GifterImageSide.png"
          alt="Gifter app on mobile, tablet and desktop screens"
          class="w-full"
          loading="lazy"
        />
      </div>
    </article>
    <article
      class="mx-4 mb-10 flex flex-col gap-8 rounded-3xl bg-[#2E2F38] p-5 shadow-article transition hover:scale-[1.005] hover:shadow-article-hover md:mx-8 md:p-14 xl:flex-row xl:p-24"
    >
      <div class="image-side order-2 flex-1">
        <img
          src="/assets/CommenteerImageSide.png"
          alt="Commenteer app on mobile, tablet and desktop screens"
          class="w-full"
          loading="lazy"
        />
      </div>
      <div class="text-side order-1 flex flex-1 flex-col">
        <h3 class="text-lg font-bold text-red-700 md:text-3xl">
          {commenteer.title.articleHeader}
        </h3>
        <h2
          class="overflow-hidden py-6 text-4xl font-black text-gray-500 md:text-7xl"
        >
          <span class="text-slate-200"> Commenteer</span><br />Social Media <br
          />
          Engagment
        </h2>
        <p class="pb-14 pt-3 text-justify text-gray-200">
          {commenteer.description.text}
        </p>
        <a
          href="/commenteer"
          class="self-end rounded-full bg-slate-600 px-6 py-3 text-white"
          >See more</a
        >
      </div>
    </article>
    <article
      class="mx-4 mb-10 flex flex-col items-center rounded-3xl bg-white p-5 text-center shadow-article transition hover:scale-[1.005] hover:shadow-article-hover md:mx-8 md:p-14 xl:p-24"
    >
      <img
        src="/assets/BackNotesLogo.svg"
        alt="backnotes app logo"
        loading="lazy"
      />
      <h2 class="max-w-3xl py-6 text-4xl font-black text-[#DBDBDB] md:text-7xl">
        Your favorite markdown editor
      </h2>
      <p class="max-w-3xl pb-14 pt-3 text-justify">
        {backnotes.description.text}
      </p>
      <a href="#" class="rounded-full bg-orange-600 px-6 py-3 text-white"
        >See more</a
      >
    </article>
    <article
      class="mx-4 flex flex-col gap-8 rounded-3xl bg-[#2D4552] p-5 shadow-article transition hover:scale-[1.005] hover:shadow-article-hover md:mx-8 md:p-14 xl:flex-row xl:p-24"
    >
      <div class="text-side flex-1">
        <h3 class="text-lg font-bold text-[#fcc72b] md:text-3xl">
          {backnotesapi.title.articleHeader}
        </h3>
        <h2
          class="overflow-hidden py-6 text-3xl font-black text-slate-200 md:text-5xl"
        >
          <span class="md:text-7xl">
            <span class="text-[#04A7C8]">BackNotes</span>API</span
          ><br />Server for the <br />
          Markdown Editor
        </h2>
        <p class="pb-14 pt-3 text-justify text-slate-200">
          {backnotesapi.description.text}
        </p>
        <a href="#" class="rounded-full bg-slate-600 px-6 py-3 text-white"
          >Connect?</a
        >
      </div>
      <div class="image-side flex-1">
        <img
          src="/assets/BackNotesAPIImageSide.png"
          alt="backnotes API code in vscode editor"
          class="w-full"
          loading="lazy"
        />
      </div>
    </article>
  </div>
</section>
