---
import Header from '@components/header.astro';
import Hero from '@components/hero.astro';
import Tech from '@components/tech.astro';
import Work from '@components/work.astro';
import Social from '@components/social.astro';
import Contact from '@components/contact.astro';
import type { Meta } from '@types';

interface Props {
  title: string;
  meta: Meta;
}

const { title, meta } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    {
      Object.entries(meta.meta).map(([name, content]) => {
        return <meta name={name} content={content} />;
      })
    }
    {
      Object.entries(meta.og).map(([property, content]) => {
        return <meta property={`og:${property}`} content={content} />;
      })
    }
    {
      Object.entries(meta.twitter).map(([name, content]) => {
        return <meta name={`twitter:${name}`} content={content} />;
      })
    }

    <title>{title}</title>
  </head>
  <body class="font-body">
    <div class="wrapper-main">
      <Header />
      <Hero />
      <Tech />
      <Work />
      <Social />
      <Contact />
    </div>
  </body>
</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');
  body {
    font-family: 'Montserrat';
  }
</style>
