---
import Social from '@components/social.astro';
import Contact from '@components/contact.astro';
import HeaderProject from '@components/work/HeaderProject.astro';
import metaData from '@data/meta';

interface Props {
  title: string;
  slug: string;
}

const { title, slug } = Astro.props;

const metaTags = metaData[slug];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    {
      Object.entries(metaTags.meta).map(([name, content]) => {
        return <meta name={name} content={content} />;
      })
    }
    {
      Object.entries(metaTags.og).map(([property, content]) => {
        return <meta property={`og:${property}`} content={content} />;
      })
    }
    {
      Object.entries(metaTags.twitter).map(([name, content]) => {
        return <meta name={`twitter:${name}`} content={content} />;
      })
    }
    <title>{title}</title>
  </head>
  <body class="font-body">
    <div class="wrapper-main">
      <HeaderProject />
      <slot />
      <Social />
      <Contact />
    </div>
  </body>
</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');
  body {
    font-family: 'Montserrat';
  }
</style>
