---
import type { Project } from '@types';
import Article from './Article.astro';
import { technologiesData } from '@data/technologies';
import type { TechStack } from 'src/types/constants';

interface Props {
  data: {
    beforeText?: string;
    tech: TechStack[];
    afterText?: string;
  };
}

const { data } = Astro.props;

const { beforeText, tech, afterText } = data;
---

<section>
  <div
    class="mx-auto mt-[100px] max-w-[260px] md:max-w-[600px] lg:max-w-[800px]"
  >
    <Article header="Tech" title="Technologies Used" />
    <p class="py-8 leading-8">{beforeText}</p>
    <ul>
      {
        tech.map((tech) => {
          return (
            <div class="flex items-center py-5">
              <div class="grid h-[50px] w-[50px] place-items-center">
                {technologiesData[tech].img && (
                  <img
                    src={`/assets/${technologiesData[tech].img}`}
                    alt={`${tech} icon`}
                  />
                )}
              </div>
              <li class="ml-14 list-disc">
                {technologiesData[tech].titleLine1}
              </li>
            </div>
          );
        })
      }
    </ul>
    <p class="py-8 leading-8">{afterText}</p>
  </div>
</section>
